body{
background-color: #edb124; 
width: 250px;
padding: 100px;
padding-left: 500px;
align-self: center;
}
.text{ background-color: black;
    color: #edb124;
padding: 70px;
border-radius: 30px;
}
#one{text-align: center;}